---
layout: default
---
<div class="post">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap" rel="stylesheet">

  <p>
  
  <h2><b><center style="font-family: 'IBM Plex Serif', serif;">Education</center></b></h2>
  <p>
	<span style="font-size:18px"><b>Seoul National University</b></span><span style="font-size:14px">, Seoul, Republic of Korea</span><br>
	<span style="color:grey; font-size:12px">Mar 2019 - Current</span><br>
	<span style="font-size:15px">B.S. in Computer Science and Engineering<br>B.S. in Statistics</span>
	<details style="font-size:14px">
		<summary>Relevant Coursework</summary><ul>
		<li>CSE : Data Structures, Algorithms, Computer Architecture, Software Development, Information Theory </li>
        <li>AI : Natural Language Processing, Machine Learning for Visual Understanding, Pattern Recognition, Language and Computer</li>
		<li>Math/Stat : Linear Algebra 1/2, Mathematical Analysis, Discrete Mathematics, Statistics, Statistical Computing and Lab, Logic, Network </li>
	</ul></details>
  </p>
  <p>
  	<span style="font-size:18px"><b>Gyeonggi Science High School for the Gifted</b></span><span style="font-size:14px">, Suwon, Republic of Korea</span><br>
  	<span style="color:grey; font-size:12px">Mar 2016 - Feb 2019</span><br>
    <span style="font-size:15px">High school for gifted students in mathematics and science</span>
  </p>
  
  <br>
  
  <h2><b><center style="font-family: 'IBM Plex Serif', serif;">Experiences</center></b></h2>
  <p>
      <span style="font-size:18px"><b><a href="">Machine Intelligence Lab</a></b></span><span style="font-size:14px">, Seoul, Republic of Korea</span><br>
      <span style="color:grey; font-size:12px">Jul 2022 - Current</span><br>
       <span style="font-size:15px">Designed model for few-shot dense retrieval and enhanced performance on selected BEIR datasets</span>
  </p>
  <p>
      <span style="font-size:18px"><b><a href="">Naver AI Lab</a></b></span><span style="font-size:14px">, Seongnam, Republic of Korea</span><br>
      <span style="color:grey; font-size:12px">Jan - Feb 2023</span><br>
       <span style="font-size:15px">Implemented causal deep learning model with Transformer</span>
  </p>
  <p>
      <span style="font-size:18px"><b>LikeLion at SNU</b></span><span style="font-size:14px">, Seoul, Republic of Korea</span><br>
      <span style="color:grey; font-size:12px">Mar - Nov 2022</span><br>
      <span style="font-size:15px">Studied HTML/CSS, ReactJS, Django for web development</span>
  </p>
  <p>
  	<span style="font-size:18px"><b>International Olympiad in Informatics Training Camp in Korea</b></span><span style="font-size:14px">, Yongin, Republic of Korea</span><br>
  	<span style="color:grey; font-size:12px">Winter School (03 Jan - 14 Jan 2017)</span>
    <span style="color:grey; font-size:12px">Summer School (29 Jul - 09 Aug 2016)</span><br>
    <span style="font-size:15px">Studied advanced data structures and algorithms</span>
  </p>
  
  </p>

</div>
