---
layout: default
---
<div class="post">

  <p>
  
  <h2><b><center>Education</center></b></h2>
  <p>
	<span style="font-size:18px"><b>Seoul National University</b></span><span style="font-size:14px">, Seoul, Republic of Korea</span><br>
	<span style="color:grey; font-size:12px">Mar 2019 - Current</span><br>
	Major : Computer Science and Engineering, Statistics<br>
  </p>
  <p>
  	<span style="font-size:18px"><b>Gyeonggi Science High School</b></span><span style="font-size:14px">, Suwon, Republic of Korea</span><br>
  	<span style="color:grey; font-size:12px">Mar 2016 - Feb 2019</span><br>
  </p>
  
  <br>
  
  <h2><b><center>Experiences</center></b></h2>
  <p>
  	<span style="font-size:18px"><b>Korean Augmentation to the United States Army</b></span><span style="font-size:14px">, Camp Humphreys, Republic of Korea</span><br>
  	<span style="color:grey; font-size:12px">21 Dec 2020 - 20 Jun 2022 (Expected)</span><br>
  </p>
  <p>
  	<span style="font-size:18px"><b>International Olympiad in Informatics Training Camp in Korea</b></span><span style="font-size:14px">, Yongin, Republic of Korea</span><br>
  	Winter School <span style="color:grey; font-size:12px">(03 Jan 2017 - 14 Jan 2017)</span><br>
  	Summer School <span style="color:grey; font-size:12px">(29 Jul 2016 - 09 Aug 2016)</span><br>
  </p>
  
  </p>

</div>
