---
layout: default
---
<div class="post">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap" rel="stylesheet">

  <p>
  
  <h2><b><center style="font-family: 'IBM Plex Serif', sans-serif;">Honorships</center></b></h2>
  <p style="line-height: 70%">
	<span style="font-size:18px"><b>Merit-Based Scholarship</b></span>
	<span style="font-size:14px">, Seoul National University</span>
	<span style="color:grey; font-size:12px">2019 - 2021</span><br>
  </p>
  <p style="line-height: 70%">
	<span style="font-size:18px"><b>SCSC TA Scholarship</b></span>
	<span style="font-size:14px">, Seoul National University</span>
	<span style="color:grey; font-size:12px">2020</span><br>
  </p>
  <p style="line-height: 70%">
	<span style="font-size:18px"><b>SNU Development Fund Scholarship</b></span>
	<span style="font-size:14px">, Seoul National University</span>
	<span style="color:grey; font-size:12px">2020</span><br>
  </p>
  <p style="line-height: 70%">
	<span style="font-size:18px"><b>Silver</b></span>
	<span style="font-size:14px">, Korea Olympiad in Informatics</span>
	<span style="color:grey; font-size:12px">2012, 2018</span><br>
  </p>
  <p style="line-height: 70%">
	<span style="font-size:18px"><b>Bronze</b></span>
	<span style="font-size:14px">, Samsung Humantech Paper Award (Biology)</span>
	<span style="color:grey; font-size:12px">2018</span><br>
  </p>
  <p style="line-height: 70%">
	<span style="font-size:18px"><b>Gold (1st place)</b></span>
	<span style="font-size:14px; line-height: 120%;">, Fall Conference of the Korean Society for the Gifted and Talented (ICT&Convergence)</span>
	<span style="color:grey; font-size:12px;">2017</span><br>
  </p>
  <p style="line-height: 70%">
	<span style="font-size:18px"><b>Best Poster Award</b></span>
	<span style="font-size:14px; line-height: 120%;">, 2017 International Meeting of the Microbiological Society of Korea</span>
	<span style="color:grey; font-size:12px">2017</span><br>
  </p>
  <p style="line-height: 70%">
	<span style="font-size:18px"><b>Gold (1st place)</b></span>
	<span style="font-size:14px">, Seoul National University Data Mining Camp</span>
	<span style="color:grey; font-size:12px">2016</span><br>
  </p>
  
  
  <br>
  
  <h2><b><center style="font-family: 'IBM Plex Serif', sans-serif;">Teaching Experience</center></b></h2>
  <p>
  	<span style="font-size:18px"><b>Electrical and Electronic Circuits</b></span><span style="font-size:14px">, Seoul National University</span><br>
  	<span style="color:grey; font-size:12px">Sep Dec 2020</span><br>
  	<span style="font-size:15px">Undergraduate TA, Graded 3 exams and 4 homeworks of around 150 students</span>
  </p>
  <p>
  	<span style="font-size:18px"><b>Personal Tutor</b></span><br>
  	<span style="color:grey; font-size:12px">Jul 2019 - Nov 2020</span><br>
  	<span style="font-size:15px">Taught Mathematics, Chemistry, Programming(C++, Python) and Computer Science(Data structures, Algorithms) to high
school students</span>
  </p>
  <p>
  	<span style="font-size:18px"><b>Invited talk</b></span><span style="font-size:14px">, SNUE Gifted Science Education Center</span><br>
  	<span style="color:grey; font-size:12px">Jun, Oct 2019</span><br>
  	<span style="font-size:15px">Introduced trend of computer science to gifted students in informatics</span>
  </p>
  
  </p>
  
  <br>
  
  <h2><b><center style="font-family: 'IBM Plex Serif', sans-serif;">Extracurricular Activities</center></b></h2>
  <p>
	<span style="font-size:18px"><b>Korean Augmentation to the US Army</b></span><span style="font-size:14px">, Camp Humphreys, Republic of Korea</span><br>
	<span style="color:grey; font-size:12px">21 Dec 2020 - 20 Jun 2022</span><br>
	<span style="font-size:15px">1.5y absence for obligatory military service (Sergeant, Camp Humphreys)</span>
	</p>
    <p>
  	<span style="font-size:18px"><b>SNU CLS Ambassador, SAENA</b></span><br>
  	<span style="color:grey; font-size:12px">Apr - Nov 2019</span><br>
  	<span style="font-size:15px">Created card news of CLS and held seminars for prospective high school students</span>
  </p>
  <p>
  	<span style="font-size:18px"><b>Student Council, Department of Major and Autonomy</b></span><br>
  	<span style="color:grey; font-size:12px">Mar - Nov 2019</span><br>
  	<span style="font-size:15px">Published articles of diverse majors in SNU and established major wiki, a website to look up at</span>
  </p>
  
  </p>

</div>
