---
layout: default
---
<div class="post">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap" rel="stylesheet">

  <p>
  
  <h2><b><center style="font-family: 'IBM Plex Serif', sans-serif;">Projects</center></b></h2>
  <p>
    <span style="font-size:18px"><b>Modality Translation through Conditional Encoder-Decoder</b></span><br>
    <span style="color:grey; font-size:12px">Apr - Jun 2023, Machine Learning for Visual Understanding</span><br>
    <span style="font-size:15px">Proposed a general architecture that does not rely on a specific latent encoder-decoder architecture and provide more accurate latent space prediction across different modalities</span>
  </p>
  <p>
    <span style="font-size:18px"><b>Private Chatbot Application</b></span><br>
    <span style="color:grey; font-size:12px">Mar - Jun 2023, Creative Integrated Design 2</span><br>
    <span style="font-size:15px">Developed an android chatbot application for automatic, anonymous customer complaints. Implemented using homomorphic encryption and ChatGPT.
    </span>
  </p>
  <p>
    <span style="font-size:18px"><b>NowSee</b></span><br>
    <span style="color:grey; font-size:12px">Sep - Dec 2022, Principles and Practices of Software Development</span><br>
    <span style="font-size:15px">Web service for live weather feed and statistics</span>
    <a href="{{ '/assets/pdf/team6_poster.pdf' | prepend: site.baseurl | prepend: site.url }}"> [Poster]</a>
    <a href="https://github.com/swsnu/swppfall2022-team6"> [Github]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Haemong Dogam</b></span><br>
	<span style="color:grey; font-size:12px">Jul 2022, LikeLion at SNU</span><br>
    <span style="font-size:15px">Web service for interpreting and recording dreams.</span>
    <a href="http://haemong.herokuapp.com"> [Link]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Hate Twits Classifier</b></span><br>
	<span style="color:grey; font-size:12px">Nov - Dec 2020, Language and Computer</span><br>
    <span style="font-size:15px">Classified twits into 'hate', 'offensive', 'non-offensive' using characteristics as parameters of Logistic Regression.<br></span>
  </p>
  <p>
	<span style="font-size:18px"><b>Finding Abandoned Animals with Keywords</b></span><br>
	<span style="color:grey; font-size:12px">Jul - Aug 2019</span><br>
    <span style="font-size:15px">Developed a program finding one’s abandoned animal based on specified categories and similar keywords, resulting better
search than official webpage.</span>
	<a href="https://www.ebs.co.kr/tv/show?prodId=131075&lectId=20131843"> [Link]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Collaborative Filtering Recommendation System Correcting User Bias Based on
Comments-Rating Relationship </b></span><br>
	<span style="color:grey; font-size:12px">Mar - Jun 2018</span><br>
    <span style="font-size:15px">Suggested enhanced recommendation system using CNN trained by movie comments to unbias user ratings.</span>
    <a href="{{ '/assets/pdf/cf_rec_paper.pdf' | prepend: site.baseurl | prepend: site.url }}"> [Paper]</a><br>
  </p>

  </p>

</div>
