---
layout: default
---
<div class="post">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap" rel="stylesheet">

  <p>
  
  <h2><b><center style="font-family: 'IBM Plex Serif', sans-serif;">Projects</center></b></h2>
  <p>
    <span style="font-size:18px"><b>NowSee</b></span><br>
    <span style="color:grey; font-size:12px">Sep 2022 - Current, Principles and Practices of Software Development</span><br>
    <span style="font-size:15px">Web service for live weather feed and statistics</span>
    <a href="https://github.com/swsnu/swppfall2022-team6"> [Link]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Haemong Dogam</b></span><br>
	<span style="color:grey; font-size:12px">Jul 2022, LikeLion at SNU</span><br>
    <span style="font-size:15px">Web service for interpreting and recording dreams.</span>
    <a href="http://haemong.herokuapp.com"> [Link]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Hate Twits Classifier</b></span><br>
	<span style="color:grey; font-size:12px">Nov - Dec 2020, Language and Computer</span><br>
    <span style="font-size:15px">Classified twits into 'hate', 'offensive', 'non-offensive' using characteristics as parameters of Logistic Regression.<br></span>
  </p>
  <p>
	<span style="font-size:18px"><b>Finding Abandoned Animals with Keywords</b></span><br>
	<span style="color:grey; font-size:12px">Jul - Aug 2019</span><br>
    <span style="font-size:15px">Developed a program finding one’s abandoned animal based on specified categories and similar keywords, resulting better
search than official webpage.</span>
	<a href="https://www.ebs.co.kr/tv/show?prodId=131075&lectId=20131843"> [Link]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Study on Correlation between National Power and Visa by Visa Network</b></span><br>
	<span style="color:grey; font-size:12px">May - Jun 2019, Selected Topics Seminar 1</span><br>
    <span style="font-size:15px">Constructed Visa Network and analyzed correlation between in/out degrees and GDP.</span>
    <a href="{{ '/assets/pdf/visa_paper.pdf' | prepend: site.baseurl | prepend: site.url }}"> [Paper]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Collaborative Filtering Recommendation System Correcting User Bias Based on
Comments-Rating Relationship </b></span><br>
	<span style="color:grey; font-size:12px">Mar - Jun 2018</span><br>
    <span style="font-size:15px">Suggested enhanced recommendation system using CNN trained by movie comments to unbias user ratings.</span>
    <a href="{{ '/assets/pdf/cf_rec_paper.pdf' | prepend: site.baseurl | prepend: site.url }}"> [Paper]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Development of Method Measuring Suface Tension of Liquid Using Leidenfrost Effect
and Image Processing</b></span><br>
	<span style="color:grey; font-size:12px">Apr - Nov 2017</span><br>
    <span style="font-size:15px">Calculated surface tension of liquid based on Image Processing and Edge Detection Algorithm.<br></span>
  </p>

  </p>

</div>
