---
layout: default
---
<div class="post">

  <p>
  
  <h2><b><center>Projects</center></b></h2>
  <p>
	<span style="font-size:18px"><b>Hate Twits Classifier</b></span><br>
	<span style="color:grey; font-size:12px">Nov 2020 - Dec 2020, Language and Computer</span><br>
	Classified twits into 'hate', 'offensive', 'non-offensive' using characteristics as parameters of GridSearch.<br>
  </p>
  <p>
	<span style="font-size:18px"><b>Finding Abandoned Animals with Keywords</b></span><br>
	<span style="color:grey; font-size:12px">Jul 2019 - Aug 2019</span><br>
	Developed a program finding one’s abandoned animal based on specified categories and similar keywords, resulting better
searching than official webpage.
	<a href="https://www.ebs.co.kr/tv/show?prodId=131075&lectId=20131843"> [Link]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Study on Correlation between National Power and Visa by Visa Network</b></span><br>
	<span style="color:grey; font-size:12px">May 2019 - Jun 2019, Selected Topics Seminar 1</span><br>
	Constructed Visa Network and analyzed correlation between in/out degrees and GDP.
    <a href="{{ '/assets/pdf/visa_paper.pdf' | prepend: site.baseurl | prepend: site.url }}"> [Paper]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Collaborative Filtering Recommendation System Correcting User Bias Based on
Comments-Rating Relationship </b></span><br>
	<span style="color:grey; font-size:12px">Mar 2018 - Jun 2018</span><br>
	Suggested enhanced recommendation system using CNN trained by movie comments to unbias user ratings.
    <a href="{{ '/assets/pdf/cf_rec_paper.pdf' | prepend: site.baseurl | prepend: site.url }}"> [Paper]</a><br>
  </p>
  <p>
	<span style="font-size:18px"><b>Development of Method Measuring Suface Tension of Liquid Using Leidenfrost Effect
and Image Processing</b></span><br>
	<span style="color:grey; font-size:12px">Apr 2017 - Nov 2017</span><br>
	Calculated surface tension of liquid based on Image Processing and Edge Detection Algorithm.<br>
  </p>

  </p>

</div>
